<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>AJAX Call Failure</title>
    <div th:remove="tag" th:utext="${T(com.newrelic.api.agent.NewRelic).getBrowserTimingHeader()}"></div>
</head>

<body>
    <h1>AJAX Call Failure</h1>
    <script type="text/javascript">
        var xhr = new XMLHttpRequest();

        xhr.open('GET', "/api?result=failure");
        xhr.send();

        xhr.onreadystatechange = function() {
            //if(xhr.readyState === 4 && xhr.status === 200) {
                document.getElementById('replace').innerHTML = xhr.responseText;
                throw xhr.responseText;
            //}
        }    
    </script>
    <div id="replace"></div>
    <li><a href="/">Home</a></li>
    <div th:utext="${T(com.newrelic.api.agent.NewRelic).getBrowserTimingFooter()}"></div>
</body>

</html>
