<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Home</title>
    <div th:remove="tag" th:utext="${T(com.newrelic.api.agent.NewRelic).getBrowserTimingHeader()}"></div>
</head>

<body>
    <ul>
        <li><a href="/apm_custom_instrumentation">APM Custom Instrumentation</a></li>
        <li><a href="/apm_custom_attribute">APM Custom Attribute</a></li>
        <li><a href="/apm_exception">APM Exception</a></li>
        <li><a href="/ajax?result=success">AJAX (Success)</a></li>
        <li><a href="/ajax?result=failure">AJAX (Failure)</a></li>
        <li><a href="/browser_custom_attribute">Browser Custom Attribute</a></li>
        <li><a href="/">Home</a></li>
    </ul>    
    <div th:utext="${T(com.newrelic.api.agent.NewRelic).getBrowserTimingFooter()}"></div>
</body>

</html>
