<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Home</title>
    <div th:remove="tag" th:utext="${T(com.newrelic.api.agent.NewRelic).getBrowserTimingHeader()}"></div>
</head>

<body>
    <ul>
        <li><a href="/apm_custom_instrumentation">APM Custom Instrumentation</a></li>
        <li><a href="/apm_custom_attribute?name=tenant_1&category=1">APM Custom Attribute (name=a, category=1)</a></li>
        <li><a href="/apm_custom_attribute?name=tenant_2&category=2">APM Custom Attribute (name=bb, category=2)</a></li>
        <li><a href="/apm_custom_attribute?name=tenant_3&category=3">APM Custom Attribute (name=ccc, category=3)</a></li>
        <li><a href="/apm_exception?ignore=true">APM Exception (Ignored)</a></li>
        <li><a href="/apm_exception?ignore=false">APM Exception (Not Ignored)</a></li>
        <li><a href="/ajax?result=success">AJAX (Success)</a></li>
        <li><a href="/ajax?result=failure">AJAX (Failure)</a></li>
        <li><a href="/ajax?result=success&count=3">AJAX (Success, depth=3)</a></li>
        <li><a href="/ajax?result=failure&count=3">AJAX (Failure, depth=3)</a></li>
        <li>
            <form role="form" action="/apm_custom_attribute_post" method="post">
                <input type="hidden" value="hidden_value" name="hidden_name">
                <input type="hidden" value="hidden_value1" name="hidden_name2">
                <button type="submit">POST</button>
            </form>
        </li>

        <li><a href="/browser_custom_attribute">Browser Custom Attribute</a></li>
        <li><a href="/">Home</a></li>
    </ul>    
    <div th:utext="${T(com.newrelic.api.agent.NewRelic).getBrowserTimingFooter()}"></div>
</body>

</html>
