<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>APM Custom Instrumentation</title>
    <div th:remove="tag" th:utext="${T(com.newrelic.api.agent.NewRelic).getBrowserTimingHeader()}"></div>
</head>

<body>
    <h1>APM Custom Instrumentation</h1>
    <script type="text/javascript">
        newrelic.setCustomAttribute("custom_attribute", "I'm APM Custom Instrumentation");
    </script>
    <li><a href="/">Home</a></li>
    <div th:utext="${T(com.newrelic.api.agent.NewRelic).getBrowserTimingFooter()}"></div>
</body>

</html>
