<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Sample</title>
    <div th:remove="tag" th:utext="${T(com.newrelic.api.agent.NewRelic).getBrowserTimingHeader()}"></div>
</head>

<body>
    <h1>Browser Custom Attribute</h1>
    <script type="text/javascript">
        //https://docs.newrelic.com/docs/browser/new-relic-browser/browser-agent-spa-api/set-custom-attribute
        newrelic.setCustomAttribute("custom_attribute", "I'm Page View Custom Attribute");
    </script>
    <li><a href="/">Home</a></li>
    <div th:utext="${T(com.newrelic.api.agent.NewRelic).getBrowserTimingFooter()}"></div>
</body>

</html>
